.h2 {
  color: #5f3df5;
}

.h3 {
  color: #5f3df5;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 100px;
    width: 50%;
    border-left: 2px solid;
    padding: 30px;
    font-size: large;
  }
  
  .button {
      display: flex;
      align-items: center;
      height: 30px;
      width: min-content;
      padding: 0 20px;
      margin-top: 10px;
      border: none;
      border-radius: 2px;
      color: white;
      font-size: medium;
      background-color: black;
      cursor: pointer;
      transition: all 0.2s;
      white-space: nowrap;
    }
    
    .button:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  
    