.day {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
    border-top: 2px solid #5f3df5;
    width: 150px;
    height: 200px;
  }
  
  .day:hover,
  .day:focus,
  .day:active {
    color: #5f3df5;
    border-color: #5f3df5;
    background-color: #f3f1f0;
  }
  
  .day h1 {
    font-weight: normal;
  }
  
  .day .event {
    font-weight: normal;
    color: #5f3df5;
  }
  
  .day .event:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .day .time {
    font-size: small;
    color: lightslategrey;
  }
  