.form {
    width: 70%;
    margin: 40px auto;
  }
  
  .group {
    margin-bottom: 20px;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: sans-serif;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .button {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    margin: 10px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: medium;
    background-color: black;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  